* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
    --backgroundColor: #f5f5f5;
    --accentColor: #386dca;
    --gray: #555;
    --lightGray: #888;
    --errorRed: #f78b8b;
}

html {
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    color: #2D2D2D;
    background: var(--backgroundColor);
}

.Button {
    height: 30px;
    cursor: pointer;
}

.App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    width: 100%;
    max-width: 1000px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding-inline: 50px;
}

.Header--Logo:hover {
    cursor: pointer;
}

.Header--ReturnButton {
    background: none;
    height: 30px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 10px;
    margin-inline: 20px auto;
}

.Header--ReturnButton:hover {
    opacity: 0.7;
}

.SearchBar {
    width: 150px;
    height: 30px;
    display: flex;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
}

.SearchBar > img {
    height: 100%;
    padding: 8px;
    opacity: 0.5;
}

.SearchBar > input {
    width: 100%;
    padding-inline: 10px;
    border: none;
    background: none;
}

.SearchBar > input:focus {
    outline: none;
}

.SearchResult > img {
    height: 100%;
    border-radius: 10px;
    image-rendering: optimizeSpeed;
}

.SearchResult > p {
    font-size: 11px;
    font-weight: bold;
    margin: 2px;
}

.SearchResult:hover {
    opacity: 0.7;
    cursor: pointer;
}

.MainPage {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 30px;
}

.SubmitForm {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
}

.SubmitForm--Title {
    text-align: center;
    font-size: 2rem;
    margin-block: 10px 30px;
    line-height: 1;
}

.SubmitForm > input {
    height: 30px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    padding-inline: 5px;
}

.SubmitForm > select {
    height: 30px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    cursor: pointer;
}

.SubmitForm > textarea {
    height: 100px;
    border: 1px solid var(--lightGray);
    border-radius: 5px;
    padding: 5px;
    resize: vertical;
    transition: border 300ms ease;
}

.StreamerList {
    width: 80%;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 200px);
    padding-bottom: 40px;
}

.StreamerList--Title {
    max-width: 250px;
    text-align: center;
}

.StreamerList--Title > p {
    color: var(--lightGray);
}

.StreamerTile {
    width: 200px;
    height: 414px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
    overflow: hidden;
    outline: 1px solid #0000;
    border-radius: 10px;
    transition: outline 300ms ease;
}

.StreamerTile:hover {
    cursor: pointer;
    outline: 1px solid var(--lightGray);
}

.StreamerTile:last-child {
    margin-right: auto;
}

.StreamerTile--Top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.StreamerTile--Top > section {
    display: flex;
    flex-direction: column;
}

.StreamerTile--Top > section:nth-child(1) {
    flex-shrink: 0;
}

.StreamerTile--Top > section:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    overflow: hidden;
}

.StreamerTile--Name {
    margin: 0;
    font-size: 14px;
}

.StreamerTile--Platform {
    margin: 0;
    font-size: 13px;
    height: 22px;
    opacity: 0.4;
}

.StreamerTile--Image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

.StreamerTile--Description {
    width: 100%;
    height: 68px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    word-wrap: break-word;
    color: var(--gray);
}

.StreamerPage  {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    padding-inline: 50px;
}

.StreamerPage > img {
    width: 270px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.StreamerPage--Right {
    width: 30vw;
    max-width: 270px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.StreamerPage--Right > h1 {
    font-size: 2.5rem;
}

.StreamerPage--Title {
    margin: 0;
}

.StreamerPage--Platform {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.7;
    user-select: none;
}

.StreamerPage--Platform > img {
    height: 100%;
}

.StreamerPage--Description {
    color: var(--lightGray);
}

.StreamerPage--VoteButtons {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.VoteButton {
    width: 40px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    padding: 2px 5px 2px 1px;
    user-select: none;
}

.VoteButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.VoteButton > img {
    height: 100%;
}

.GoUpArrow {
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: var(--accentColor);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px #0003;
    transition: transform 300ms ease;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    } 25% {
        transform: translateX(5px);
    } 75% {
        transform: translateX(-5px);
    } 100% {
        transform: translateX(0px);
    }
}